[package]
name = "zero2prod"
version = "0.1.0"
authors = ["Deepak Sandhu <deepak.sandhu789@gmail.com>"]
edition = "2024"



[dependencies]
actix-web = "4"
tokio = { version = "1", features = ["macros", "rt-multi-thread"] }
